In [17]:
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
aqaba = pd.read_csv('Datasets-Ready\\Aqaba_Ready.csv', index_col=0)
ghor = pd.read_csv('Datasets-Ready\\Ghor EL Safi_Ready.csv', index_col=0)
irbid = pd.read_csv('Datasets-Ready\\Irbid_Ready.csv', index_col=0)
irwaished = pd.read_csv('Datasets-Ready\\Irwaished_Ready.csv', index_col=0)
maan = pd.read_csv('Datasets-Ready\\Maan_Ready.csv', index_col=0)
mafraq = pd.read_csv('Datasets-Ready\\Mafraq_Ready.csv', index_col=0)
amman = pd.read_csv('Datasets-Ready\\Queen Alia Airport_Ready.csv', index_col=0)
safawi = pd.read_csv('Datasets-Ready\\Safawi_Ready.csv', index_col=0)

In [12]:
df =aqaba.copy()
df.head()

,Air Dew Point,Air Temperature (OC),Humidity %,Atmospheric Pressure,Wind_U,Wind_V
2000-01-01 00:00:00,6.7,14.9,57.968356,1014.200012,0.0,-1.5
2000-01-01 01:00:00,7.0,15.0,58.794057,1014.200012,0.0,-0.0
2000-01-01 02:00:00,7.0,15.0,58.794057,1014.200012,0.0,-0.0
2000-01-01 03:00:00,6.5,15.2,56.084410,1013.900024,0.0,-1.5
2000-01-01 04:00:00,7.0,15.0,58.794057,1013.900024,0.0,-1.5

In [ ]:
df.index = pd.to_datetime(df.index)