In [63]:
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns
import pandas as pd
import os
from metpy.calc import wind_components
from metpy.units import units

In [64]:
aqaba = pd.read_csv('Datasets\\Aqaba.csv', parse_dates=["Date/Time"])
ghor = pd.read_csv('Datasets\\Ghor El Safi.csv')
irbid = pd.read_csv('Datasets\\Irbid.csv')
irwaished = pd.read_csv('Datasets\\Irwaished.csv')
maan = pd.read_csv('Datasets\\Maan.csv')
mafraq = pd.read_csv('Datasets\\Mafraq.csv')
amman = pd.read_csv('Datasets\\Queen Alia Airport copy.csv')
safawi = pd.read_csv('Datasets\\Safawi.csv')

In [180]:
current = 'Safawi'
df = safawi.copy()
df = df.set_index("Date/Time")
df.head()

,Station,Air Dew Point,Air Temperature (OC),Humidity %,Atmospheric Pressure,Liquid Precipitation,Manual Present Weather,Cloud Type,Clouds Cover (Okta),Cloud Cover %,Snow Depth,Horizontal Visibility In m.,Wind Direction (Degrees),Wind Speed (MPS),Wind Type
Date/Time,,,,,,,,,,,,,,,
1964-01-13 15:00:00,Safawi,-1.1,11.1,42.744245,1036.699951,NaN,Clouds generally forming or developing,NaN,NaN,0.0,NaN,30000.0,160.0,1.5,normal
1964-01-14 06:00:00,Safawi,1.1,3.9,81.959440,1034.800049,NaN,Clouds generally dissolving or becoming less d...,NaN,NaN,0.0,NaN,25000.0,360.0,1.5,normal
1964-01-14 09:00:00,Safawi,1.1,10.0,53.949660,1033.599976,NaN,State of sky on the whole unchanged,NaN,NaN,0.0,NaN,30000.0,160.0,2.1,normal
1964-01-14 12:00:00,Safawi,2.2,13.9,45.141377,1031.699951,NaN,Clouds generally forming or developing,NaN,NaN,0.0,NaN,30000.0,200.0,3.6,normal
1964-01-15 06:00:00,Safawi,2.2,6.1,76.077012,1034.900024,NaN,Clouds generally forming or developing,NaN,NaN,0.0,NaN,30000.0,180.0,2.6,normal

In [181]:
df.describe(include='object')

       Station               Manual Present Weather Cloud Type Wind Type
count   116418                                43139      33821    115726
unique       1                                   80         10         3
top     Safawi  State of sky on the whole unchanged    cumulus    normal
freq    116418                                17867      14227     76056

In [182]:
df.describe()

,Air Dew Point,Air Temperature (OC),Humidity %,Atmospheric Pressure,Liquid Precipitation,Clouds Cover (Okta),Cloud Cover %,Snow Depth,Horizontal Visibility In m.,Wind Direction (Degrees),Wind Speed (MPS)
count,114060.000000,115491.000000,114331.000000,113363.000000,37008.000000,63876.000000,116203.000000,1195.000000,115515.000000,76056.000000,115569.000000
mean,5.995221,19.993982,45.751942,1012.745350,0.888365,1.595278,10.961421,0.184100,10263.375804,233.341880,3.582466
std,6.297501,9.419060,22.165940,7.353364,21.393579,1.828726,19.638294,3.980638,3521.492902,96.288626,3.538327
min,-44.000000,-7.300000,0.729364,915.400024,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000
25%,2.000000,12.200000,28.390915,1007.000000,0.000000,0.000000,0.000000,0.000000,10000.000000,180.000000,0.000000
50%,6.000000,20.000000,41.095317,1012.200012,0.000000,1.000000,0.000000,0.000000,10000.000000,270.000000,3.100000
75%,10.200000,27.200001,60.420685,1017.799988,0.000000,3.000000,25.000000,0.000000,10000.000000,300.000000,6.100000
max,28.000000,48.000000,145.666217,1077.500000,999.700012,8.000000,100.000000,107.000000,70000.000000,360.000000,46.299999

In [183]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 116418 entries, 1964-01-13 15:00:00 to 2023-12-31 18:00:00
Data columns (total 15 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Station                      116418 non-null  object
 1   Air Dew Point                114060 non-null  float64
 2   Air Temperature (OC)         115491 non-null  float64
 3   Humidity %                   114331 non-null  float64
 4   Atmospheric Pressure         113363 non-null  float64
 5   Liquid Precipitation         37008 non-null   float64
 6   Manual Present Weather       43139 non-null   object
 7   Cloud Type                   33821 non-null   object
 8   Clouds Cover (Okta)          63876 non-null   float64
 9   Cloud Cover %                116203 non-null  float64
 10  Snow Depth                   1195 non-null    float64
 11  Horizontal Visibility In m.  115515 non-null  float64
 12  Wind Direction (Degrees)     76056 non-null   float64
 13  Wind Speed (MPS)             115569 non-null  float64
 14  Wind Type                    115726 non-null  object
dtypes: float64(11), object(4)
memory usage: 14.2+ MB

In [184]:
df.drop(['Station', 'Manual Present Weather','Liquid Precipitation', 'Snow Depth', 'Clouds Cover (Okta)', 'Cloud Type', 'Wind Type','Cloud Cover %', 'Horizontal Visibility In m.'], axis=1, inplace=True)

In [185]:
for col in df.columns:
    df[col] = df.groupby(df.index)[col].transform(lambda x: x.ffill().bfill())
    
df = df[~df.index.duplicated(keep='first')]

In [186]:
df.index = pd.to_datetime(df.index)

In [187]:
for year in df.index.year.unique():
  print(f"Year: {year}")
  print("Unique Months:", np.sort(df[df.index.year == year].index.month.unique()))
  print("Unique Days:", np.sort(df[df.index.year == year].index.day.unique()))
  print("Unique Days of Week:", np.sort(df[df.index.year == year].index.dayofweek.unique()))
  print("Unique Hours:", np.sort(df[df.index.year == year].index.hour.unique()))
  print("-" * 20)

Year: 1964
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 3  6  9 12 15 18]
--------------------
Year: 1965
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 3  6  9 12 15 18]
--------------------
Year: 1966
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 3  6  9 12 15 18 21]
--------------------
Year: 1967
Unique Months: [1 2 3 4 5 6]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 6  9 12 15 18]
--------------------
Year: 1973
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  9 12 15 18 21]
--------------------
Year: 1974
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  9 12 15 18 21]
--------------------
Year: 1975
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  9 12 15 18 21]
--------------------
Year: 1976
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  9 12 15 18 21]
--------------------
Year: 1977
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  9 12 14 15 18 21 23]
--------------------
Year: 1978
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  3  5  6  9 11 12 13 15 17 18 21 23]
--------------------
Year: 1979
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  2  3  6  9 10 12 15 18 19 20 21 22]
--------------------
Year: 1980
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  3  6  9 11 12 13 15 18 21]
--------------------
Year: 1981
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  3  5  6  9 12 15 17 18 21 22]
--------------------
Year: 1982
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  3  5  6  9 11 12 14 15 18 21]
--------------------
Year: 1983
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  7  9 10 11 12 13 15 17 18 21]
--------------------
Year: 1984
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  3  4  5  6  9 12 14 15 17 18 21]
--------------------
Year: 1985
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  6  9 11 12 15 16 17 18 21]
--------------------
Year: 1986
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  4  5  6  9 12 14 15 17 18 21]
--------------------
Year: 1987
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  3  4  6  9 12 14 15 17 18 21]
--------------------
Year: 1988
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  3  6  7  9 10 11 12 14 15 16 18 21]
--------------------
Year: 1989
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  3  4  6  9 12 13 14 15 17 18 20 21 23]
--------------------
Year: 1990
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  3  4  6  9 10 11 12 14 15 17 18 21]
--------------------
Year: 1991
Unique Months: [ 1  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  3  4  6  7  9 12 15 18 21]
--------------------
Year: 1992
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  4  6  9 11 12 14 15 18 21 22]
--------------------
Year: 1993
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  5  6  7  9 12 14 15 17 18 19 21]
--------------------
Year: 1994
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  4  6  7  8  9 10 12 14 15 18 19 21 22 23]
--------------------
Year: 1995
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  4  5  6  8  9 11 12 14 15 18 19 20 21]
--------------------
Year: 1996
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  4  6  8  9 10 11 12 13 14 15 16 17 18 19 21 22 23]
--------------------
Year: 1997
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  4  5  6  7  9 10 11 12 14 15 17 18 19 20 21 22]
--------------------
Year: 1998
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  3  4  5  6  9 12 14 15 18 19 20 21]
--------------------
Year: 1999
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  9 10 12 13 14 15 18 20 21]
--------------------
Year: 2000
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  2  3  6  9 10 12 15 18 20 21]
--------------------
Year: 2001
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  9 12 15 18 21]
--------------------
Year: 2002
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  8  9 10 11 12 15 18 21]
--------------------
Year: 2003
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  8  9 12 14 15 18 21]
--------------------
Year: 2004
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  9 12 15 18 21]
--------------------
Year: 2005
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  9 12 15 18 21]
--------------------
Year: 2006
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  9 12 15 18 21]
--------------------
Year: 2007
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  9 12 15 18 21]
--------------------
Year: 2008
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  9 12 15 18 21]
--------------------
Year: 2009
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  3  6  7  9 11 12 13 15 17 18 21]
--------------------
Year: 2010
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  3  5  6  7  9 11 12 15 18 19 21]
--------------------
Year: 2011
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  6  9 12 13 15 17 18 19 21]
--------------------
Year: 2012
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  3  6  9 12 15 18 21]
--------------------
Year: 2013
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  9 12 15 18 21]
--------------------
Year: 2014
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  9 12 15 18 21]
--------------------
Year: 2015
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  9 12 15 18 21]
--------------------
Year: 2016
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  9 12 15 18 21]
--------------------
Year: 2017
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  9 12 15 18 21]
--------------------
Year: 2018
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  9 12 15 18 21]
--------------------
Year: 2019
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  9 12 15 18 21]
--------------------
Year: 2020
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  9 12 15 18 21]
--------------------
Year: 2021
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  9 12 15 18 21]
--------------------
Year: 2022
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  9 12 15 18 21]
--------------------
Year: 2023
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  9 12 15 18 21]
--------------------

In [188]:
df = df[df.index.year.isin(list(range(2000, 2024)))]

print(df.index.min())
print(df.index.max())

2000-01-01 03:00:00
2023-12-31 18:00:00

In [189]:
date_range = pd.date_range(start = df.index.min(),end =df.index.max(), freq="D")
missing_dates = date_range[~date_range.isin(df.index)]
missing_dates

DatetimeIndex(['2000-01-06 03:00:00', '2000-01-07 03:00:00',
               '2000-01-12 03:00:00', '2000-01-16 03:00:00',
               '2000-01-24 03:00:00', '2000-01-25 03:00:00',
               '2000-01-27 03:00:00', '2000-01-28 03:00:00',
               '2000-01-30 03:00:00', '2000-02-04 03:00:00',
               ...
               '2023-12-10 03:00:00', '2023-12-13 03:00:00',
               '2023-12-16 03:00:00', '2023-12-17 03:00:00',
               '2023-12-19 03:00:00', '2023-12-21 03:00:00',
               '2023-12-28 03:00:00', '2023-12-29 03:00:00',
               '2023-12-30 03:00:00', '2023-12-31 03:00:00'],
              dtype='datetime64[ns]', length=2816, freq=None)

In [190]:
full_range = pd.date_range(start=df.index.min(), end=df.index.max(), freq='H')
df = df.reindex(full_range)
df.head()

C:\Users\hebay\AppData\Local\Temp\ipykernel_34048\114224145.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  full_range = pd.date_range(start=df.index.min(), end=df.index.max(), freq='H')

,Air Dew Point,Air Temperature (OC),Humidity %,Atmospheric Pressure,Wind Direction (Degrees),Wind Speed (MPS)
2000-01-01 03:00:00,-6.2,6.8,39.020055,1018.400024,NaN,0.0
2000-01-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-01 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-01 06:00:00,-0.4,9.2,51.073954,1020.299988,NaN,0.0
2000-01-01 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN

In [191]:
df = df.ffill().bfill()
for column in df.columns:
  df[column] = df[column].interpolate(method='ffill')
  df[column] = df[column].interpolate(method='bfill')
df.head()

C:\Users\hebay\AppData\Local\Temp\ipykernel_34048\5136754.py:3: FutureWarning: Series.interpolate with method=ffill is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[column] = df[column].interpolate(method='ffill')
C:\Users\hebay\AppData\Local\Temp\ipykernel_34048\5136754.py:4: FutureWarning: Series.interpolate with method=bfill is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[column] = df[column].interpolate(method='bfill')

,Air Dew Point,Air Temperature (OC),Humidity %,Atmospheric Pressure,Wind Direction (Degrees),Wind Speed (MPS)
2000-01-01 03:00:00,-6.2,6.8,39.020055,1018.400024,140.0,0.0
2000-01-01 04:00:00,-6.2,6.8,39.020055,1018.400024,140.0,0.0
2000-01-01 05:00:00,-6.2,6.8,39.020055,1018.400024,140.0,0.0
2000-01-01 06:00:00,-0.4,9.2,51.073954,1020.299988,140.0,0.0
2000-01-01 07:00:00,-0.4,9.2,51.073954,1020.299988,140.0,0.0

In [192]:
u, v = wind_components(
    df['Wind Speed (MPS)'].values * units('m/s'),
    df['Wind Direction (Degrees)'].values * units.degree
)

df['Wind_U'] = u.magnitude  
df['Wind_V'] = v.magnitude

# OR the following, the above code is based on a specialaized library "metpy"

# df['Wind_U'] = -df['Wind Speed (MPS)'] * np.sin(np.radians(df['Wind Direction (Degrees)']))
# df['Wind_V'] = -df['Wind Speed (MPS)'] * np.cos(np.radians(df['Wind Direction (Degrees)']))
df.Wind_U = df.Wind_U.round(2)
df.Wind_V = df.Wind_V.round(2)
df.head()

,Air Dew Point,Air Temperature (OC),Humidity %,Atmospheric Pressure,Wind Direction (Degrees),Wind Speed (MPS),Wind_U,Wind_V
2000-01-01 03:00:00,-6.2,6.8,39.020055,1018.400024,140.0,0.0,-0.0,0.0
2000-01-01 04:00:00,-6.2,6.8,39.020055,1018.400024,140.0,0.0,-0.0,0.0
2000-01-01 05:00:00,-6.2,6.8,39.020055,1018.400024,140.0,0.0,-0.0,0.0
2000-01-01 06:00:00,-0.4,9.2,51.073954,1020.299988,140.0,0.0,-0.0,0.0
2000-01-01 07:00:00,-0.4,9.2,51.073954,1020.299988,140.0,0.0,-0.0,0.0

In [193]:
df.drop(['Wind Speed (MPS)', 'Wind Direction (Degrees)'], axis=1, inplace=True)
df.head()

,Air Dew Point,Air Temperature (OC),Humidity %,Atmospheric Pressure,Wind_U,Wind_V
2000-01-01 03:00:00,-6.2,6.8,39.020055,1018.400024,-0.0,0.0
2000-01-01 04:00:00,-6.2,6.8,39.020055,1018.400024,-0.0,0.0
2000-01-01 05:00:00,-6.2,6.8,39.020055,1018.400024,-0.0,0.0
2000-01-01 06:00:00,-0.4,9.2,51.073954,1020.299988,-0.0,0.0
2000-01-01 07:00:00,-0.4,9.2,51.073954,1020.299988,-0.0,0.0

In [194]:
os.makedirs('Datasets-Ready', exist_ok=True)
os.chdir('Datasets-Ready')
df.to_csv(current+'_Ready.csv')
os.chdir('..')